.about {
    min-height: 100vh;
    padding-top: 15vh;
    .title {
        text-transform: capitalize;
        font-size: 5rem;
    }
    .about-section {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        .box {
            flex: 1 1 300px;
        }
        .img-section {
            img {
                height: 300px;
            }
        }
    }
}
