.contact-section{
  
    font-family: sans-serif;
    .section-left{
       min-height: 50vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url('https://images.unsplash.com/photo-1538391543564-047a76156421?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80');
        background-size:cover ;
        background-repeat:no-repeat ;
        h1{
            text-transform: uppercase;
            margin-bottom: 3rem;
            
        }
        ul{
            display: flex;
            width: 30%;
            font-size: 1.5em;
            justify-content: center;
            align-items: center;            
            list-style: none;
            li a{
                color: white;
                margin-right:1rem;
            }
        }
    }
    .section-right{
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        form{
            position: relative;
            min-height: 30vh;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-transform: capitalize;
            color: rgba(0,0,0,.7);

               input{
                   margin-bottom: 1rem;
                   border-left: none;
                   border-right: none;
                   border-top: none;
                   border-bottom: .005rem solid rgba(0,0,0,.25) !important;
                 
                }
               textarea{
                margin-bottom: 1rem;

                     border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: .005rem solid rgba(0,0,0,.25) !important;
               }
           
           button{
              font-weight: 300;
                width: 75px;
               padding: 5px 18px;
               text-transform: uppercase;
               color: #fff;
               background: #3054D3;
               border: none;
               outline: none;
               border-radius: 4px;
           }
           
        }
    }
   p{
       text-align: center;
       padding: 1rem;
   }
   @media(min-width:768px){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        min-height: 100vh;
        width: 100%;
        
        
      
    }

}