.parent {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    .box {
        flex: 1 1 450px;
    }
    .box-1 {
        opacity: 1;
        transition: transform 0.5s;
        transform: translateX(0);
        h2 {
            font-size: 3rem;
        }
        .subtitle {
            font-size: 2.5rem;
        }
        .text {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .cta {
            position: absolute;
            &:hover {
                transform: translate(2px, 2px);
                transition: transform 0.5s;
            }
        }
    }
    .outView {
        opacity: 0;
        transition: transform 0.5s;
        transform: translateX(-100%);
    }
    .box-2 {
        display: none;
    }
}
