$text-color: #fff;

.parent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    .box {
        flex: 1 1 400px;
    }
    .box-1 {
        // background: pink;
        color: $text-color;
        opacity: 1;
        transition: transform 0.5s;
        transform: translateX(0);
        @media screen and (min-width: 768px) {
            text-align: center;
        }
        .name {
            text-transform: uppercase;
            font-size: 48px;
            letter-spacing: 0.25rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .subtitle {
            font-size: 18px;
            letter-spacing: 0.5rem;
            opacity: 0.7;
            font-weight: 400;
            margin-bottom: 2rem;
        }
        .cta {
            margin-top: 1.5rem;
            display: inline-block;
            font-size: 20px;
            padding: 0.75rem 1.3rem;
            color: #000;
            background: #fff;
            border-radius: 25px;
        }
    }
    .outView {
        opacity: 0;
        transition: transform 0.5s;
        transform: translateX(-100%);
    }

    .moving-mouse-holder {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 70vh;
        height: 10vh;
        margin: auto;
        margin-top: 60px;
        width: 100%;
        .mouse {
            width: 46px;
            height: 60px;
            position: relative;
            right: 0;
            border-radius: 18px;
            border: 2px solid #fff;
            .mouse-button {
                background: #fff;
                width: 10px;
                height: 20px;
                border-radius: 15px;
                position: absolute;
                top: 10px;
                left: 45%;
                margin: 0 0 0 -2px;
                animation: mouse-scroll 1s infinite alternate;
            }
        }
    }

    @keyframes mouse-scroll {
        to {
            transform: translate(0, 6px) scale(1, 0.8);
        }
    }
}
