.cards{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(1,300px);
    grid-gap: 2rem;
    @media(min-width:768px){
        grid-template-columns: repeat(2,300px);
    }
}
