.card{
    position: relative;
    width:300px ;
    height: 400px;
    background: rgb(46, 92, 161);
    h1{
        color: white;
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
    }
}   