.cursor-dot {
    position: relative;
    z-index: 10000000;
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor-dot-outline {
    position: relative;

    z-index: 1000000000;
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
@media(max-width:576px){
    .cursor{
        display: none;
    }
}