footer {
    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        a {
            margin: 0 1rem;
            padding: 1.5rem 0;
            color: blanchedalmond;
            .icons {
                font-size: 28px;
                opacity: 0.25;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    p {
        color: blanchedalmond;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
    }
}
