// importing the fonts from google fonts

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins:wght@400;600&display=swap");

// font-families

$font-logo: "Comfortaa", cursive;
$font-body: "Poppins", sans-serif;

$logo-size: 24px;
$page-title: 5rem;
$title: 2rem;
