@import "./colors.scss";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  @media screen and (max-width: 576px) {
    cursor: default;
  }
}

// setting the base font size

html {
  font-size: 16px;
  font-family: $font-body;
  scroll-behavior: smooth;
  @media screen and (max-width: 1400px) {
    font-size: 0.9rem;
  }
}

// container

.container {
  margin: 0 5vw;
  @media (min-width: 900px) {
    margin: 0 10vw;
  }
}

// setting text-decoration of all anchor tags to none

a {
  text-decoration: none;
}

// setting the logo font-family

#logo {
  font-family: $font-logo;

  font-size: $logo-size;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.section-title {
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.9;
  padding: 0.5rem 0;
}

body {
  background: $bg-color;
}

.numbers {
  font-family: $numbers;
  color: #fff;
}
