@import "./fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting the base font size

html {
  font-size: 16px;
  font-family: $font-body;

  @media screen and (max-width: 1400px) {
    font-size: 0.9rem;
  }
}

// container

.container {
  margin: 0 5vw;
  @media (min-width: 900px) {
    margin: 0 10vw;
  }
}

// setting text-decoration of all anchor tags to none

a {
  text-decoration: none;
  color: #000;
}

// setting the logo font-family

#logo {
  font-family: $font-logo;
  font-weight: 700;
  font-size: $logo-size;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.9;
  padding: 0.5rem 0;
}

.cta {
  font-size: 1rem;
  background: #000;
  color: #fff;

  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}
